// KBmodal sass variables

// gallery buttons bg and icon colors including different colors for hover;
$color__KBmodalNav--bg: black;
$color__KBmodalNav--text: white;
$color__KBmodalNav--textHover: black;
$color__KBmodalNav--bgHover: white;