.mainHeader .flexy_nonmobile {
	@media screen and (min-width: 768px){
	    display: flex;
	    align-items: flex-end;
	    justify-content: space-between;		
	}
	.navbar-brand{
		height: auto;
		padding: 0px;
		margin-left: 0px;
	}
}
@media screen and (max-width: 767px){
	.navbar-brand{
		width: 70%;
	}
}
@media screen and (max-width: 767px){
	.navbar-brand{
		font-size: 17px;
		width: 70%;
		img{
			max-width: 60px;
			margin-left: 15px;
			margin-right: 10px;
			display: inline;
		}
	}
}
.navbar-header{
	.navbar-brand{
		.brandName{
			@media screen and (min-width: 768px){
				display: none;
			}
		}
	}
    @media screen and (max-width: 767px){
		display: flex;
		align-items: center;
		justify-content: space-between;
    	padding-top: 5px;
    	margin-bottom: 0px;
    	padding-bottom: 5px;
        border-bottom: 2px solid $color__text-main;
        &:before, &:after{
			display: none;
		}
    }
	@media screen and (max-width: 1199px) and (min-width: 768px){
		// width: 35%;
	}
}
.navbar-starter-theme{
	margin-bottom: 0px;
	min-height: 0px;
	z-index: 1;
	background-color: white;
	&.sticky{
		width: 100%;
		position: fixed;
		top: 0px;
		bottom: initial;
		z-index: 999999;
		.navbar-brand-nomobile{
			img{
				width: 35%;
			}
		}
	}
	@media screen and (max-width: 767px){
		.container{
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.navbar-toggle{
	border-radius: 0px;
	border: 2px solid $color__text-main;
	.icon-bar{
		background-color: $color__text-main;
	}
	&:hover, &active, &:focus{
		border-color: $color__text-main;
	}
}
.flexy_nonmobile{
	.mainNav{
		@media screen and (min-width: 768px){
			display: flex!important;
			justify-content: flex-end;
		}
	}
}
.navbar-nav {
    margin: 0px -15px;
}
// sub menu
.mainNav{
	position: relative;
	@include font-size(20);
	width: 100%;
	ul{
		li{			
			position: relative;
			padding: 1.2em 0px;
			@media screen and (max-width: 767px){
				padding: .6em 0px;
				font-size: 1rem;
			}
			a{
				color: $color__text-main;
				line-height: 1;
				transition: color .5s;
				display: block;
				&:hover, &:active, &:focus{
					outline: none;
					background-color: transparent!important;
					text-decoration: none;
					color: $color__text-main;
				}
				padding: 0px 1.85em!important;
				@media screen and (min-width: 768px){
					border-right: 1px solid $color__text-main;

				}
			}
			&.current-menu-item, &.current_page_parent{
				font-weight: $black;
				.sub-menu{
					font-weight: initial;
				}
			}
			&:last-child{
				a{
					border-right: none;
				}
			}
		}
	}
}
.menu-item-has-children{
	position: relative;
	.sub-menu{
		list-style: none;
		margin-left: 0px;
		padding-left: 0px;
		@media screen and (min-width: 768px){
			display: none;
			position: absolute;
		    top: 100%;
		    left: 0px; 
		    padding-top: .5em;
		}
	    li{
	    	padding-left: 1em;
    		padding-right: 1em;
    		padding-top: .5em;
    		&:first-child{
    			padding-top: 1em;
    		} 
    		&:last-child{
    			padding-bottom: 1em;
    		}
	    	a{
	    		border-right: 0px;
				padding: 0px 0em !important;
				margin: 0px .5em;
				&:hover, &:active, &:focus{
					text-decoration: none;
					outline: none;
				}
	    	}
	    	&.current-menu-item{
	    		a{
	    			padding-left: 1em!important;
	    		}
	    	}
	    }
	}
	&:hover{
		.sub-menu{
			display: block;
		}
	}
}

// menu rozwijane fix

// variables
$colorBGHover: $color__link;
$colorTextHover: white;

$colorBg: white;
$colorText: $color__text-main;

$colorIconBorder: $color__link;

$colorTextActive: $color__link;


.mainNav{
	.menu-item-has-children{
		position: relative;
		@include MQ(0, 767){		
			a{
				margin-right: 2em;
			}	
			&.current-menu-ancestor, &.current-menu-parent, &.current_page_parent, &.current_page_ancestor{
				&:after{
					content: url(./images/menuicons/plus-hover.svg);
				}
			}
			&:after{
				content: url(./images/menuicons/plus.svg);
				display: block;
				position: absolute;
				color: $colorText;
				line-height: 17px;
				top: .6em;
				right: 10px;
				cursor: pointer;
				
			}
			&:hover{
				&:after{
					content: url(./images/menuicons/plus-hover.svg);
				}		
			}
			&.active{
				&.current-menu-ancestor, &.current-menu-parent, &.current_page_parent, &.current_page_ancestor{
					&:after{
						content: url(./images/menuicons/minus-hover.svg);
					}
				}
				&:after{
					content: url(./images/menuicons/minus.svg);
				}
				&:hover{
					&:after{
						content: url(./images/menuicons/minus-hover.svg);
					}		
				}
			}
		}
		[class*="sub-menu-"]{
			@include MQ(768, 0){
				@include boxShadow;
			}
			font-size: .8em;
			text-align: left;
			list-style: none;
			margin-left: 0px;
			padding-left: 0px;
			background-color: $colorBg;
			min-width: 100%;
			display: none;
			@include MQ(768, 0){
				display: none!important;
			}
			@media screen and (min-width: 768px){
				position: absolute;
				top: 0px;
				left: 100%; 
			}
			li{
				display: block;
				border-left: 0px;
				&:hover, &:active, &:focus{
					background-color: $colorBGHover;
				}
				a{
					padding: .5em 1em;
					@include MQ(0, 767){
						padding-left: 2em;
						padding-top: 10px;
						padding-bottom: 10px;
					}
					&:hover, &:active, &:focus{
						text-decoration: none;
						outline: none;
					}
				}
				&:last-child{
					background-color: $colorBg;
					>a{
						color: $colorText;
					}
					&.current-menu-ancestor, &.current-menu-parent{
						a{
							color: $colorTextActive;
						}
					}
					&:hover{
						background-color: $colorBGHover;
						>a{
							color: $colorTextHover;
						}
					}
				}
				&.current-menu-item{
					>a{
						color: $colorTextActive;
					}
				}
				&.menu-item-has-children{
					>a{
						@include MQ(768, 0){
							&:after{
								content: ">";
								padding-left: 5px;
								position: absolute;
								top: 50%;
								right: 5px;
								transform: translateY(-50%);
							}
						}
					}
				}
			}
		}
		.sub-menu-0{
			top: 100%;
			left: 0px; 
		}
		.sub-menu-1{
			li{
				a{
					@include MQ(0, 767){
						padding-left: 3em;
					}
				}
			}
		}
		.sub-menu-2{
			li{
				a{
					@include MQ(0, 767){
						padding-left: 4em;
					}
				}
			}
		}
		.sub-menu-3{
			li{
				a{
					@include MQ(0, 767){
						padding-left: 5em;
					}
				}
			}
		}
		&:hover{
			@include MQ(768,0){
				>[class*="sub-menu-"]{
					display: block!important;
				}
			}
		}
	}
}
