html,
body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: $fontsize * 1px;
	@media screen and (max-width: 991px){
		font-size: $fontsize * 0.9 * 1px;
	}
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

a{
	transition: color .5s;
	&:hover, &:active, &:focus{
		text-decoration: none;
	}
	&.reverse{
		color: $color__link-hover;
		&:hover, &:active, &:focus{
			color: $color__link;
		}
	}
}

.marginBottom{
	@include marginBottom();
}
.marginTop{
	@include marginTop();
}
.paddingBottom{
	@include paddingBottom();
}
.paddingTop{
	@include paddingTop();
}

.paddingBottomHalf{
	@include paddingBottomHalf();
}
.paddingTopHalf{
	@include paddingTopHalf();
}
.marginBottomHalf{
	@include marginBottomHalf();
}
.marginTopHalf{
	@include marginTopHalf();
}

// horizontal
.lang-bar__switcher {
    display: inline-block;;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    list-style: none;
    line-height: 1;
    height: 1em;
    li {
	    display: inline-block;
	    line-height: 1;
	    padding-left: 0px;
	    &:before{
	    	display: none;
	    }
	    &:first-child {
		    border-right: 1px solid $color__text-main;
		    padding-right: 5px;
		}
		a{
			display: inline-block;
			line-height: 1;
			outline: none;
		}
		&.active{
			font-weight: $black;
			a{
				color: $color__link;
			}
		}
	}
}

// vertical
.langSwitcher{
	// color: white;
	display: inline-block;
	position: relative;
	font-size: 16px;
	text-transform: uppercase;
	img{
		margin-right: 10px;
	}
	// min-width: 33.333%;
	margin-left: -15px;
}
.langSwitcher__list{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0px;
	display: none;
	padding: 5px 15px;
	background-color: white;
	min-width: 100%;
	z-index: 2;
	.menu-item{
		padding: 10px 0px;
	}
}
.langSwitcher__active{
	display: inline-block;
	padding-left: 15px;
	min-width: 50%;
	&:hover{
		cursor: pointer;
	}
	&:after{
		display: inline-block;
		content: "\f107";
		@include fontawesomeFree;
		font-weight: 900;
		margin-left: 5px;
	}
}

.navbar{
	border: 0px;
}

.centerChild{
	@include centerChild;
}

.fouroufour {
    color: $color__text-main;
    font-weight: $bold;
    font-size: 20vw;
}
.withIcon{
	position: relative;
	padding-left: 2em;
	display: block;
	&:hover{
		text-decoration: none;
	}
	&:before{
		position: absolute;
		left: 0px;
		display: block;
		@include fontawesomeFree;
		font-size: 1.5em;
		top: 50%;
		transform: translateY(-50%);
		color: $color__text-main;
	}
	&:focus, &:active{
		text-decoration: none;
	}
	&--top{
		&:before{
			top: 0px;
			line-height: 1.5;
			transform: none;
		}
	}
	&__tel{
		&:before{
			content: "\f095";
			font-weight: $bold;
		}
	}
	&__location{
		&:before{
			content: "\f3c5";
			font-weight: $bold;
		}
	}
	&__calendar{
		&:before{
			content: "\f073";
			font-weight: $regular;
		}
	}
	&__mail{
		&:before{
			content: "\f0e0";
			font-weight: $bold;
		}
	}
}

.boxShadow{
	@include boxShadow;
}
.boxShadowInset{
	@include boxShadowInset;
}