.withIcon {
    position: relative;
    padding-left: 1.5em;
    display: block;
    &:hover {
        text-decoration: none;
    }
    &:before {
        position: absolute;
        left: 0px;
        display: block;
        @include fontawesomeFree;
        font-size: 1em;
        top: 50%;
        transform: translateY(-50%);
        color: $color__link;
    }
    &:focus,
    &:active {
        text-decoration: none;
    }
    &--top {
        &:before {
            top: 0px;
            line-height: 1.5;
            transform: none;
        }
    }
    &--tel {
        &:before {
            content: "\f095";
            font-weight: $bold;
        }
    }
    &--location {
        &:before {
            content: "\f3c5";
            font-weight: $bold;
        }
    }
    &--calendar {
        &:before {
            content: "\f073";
            font-weight: $regular;
        }
    }
    &--mail {
        &:before {
            content: "\f0e0";
            font-weight: $bold;
        }
    }
    &--clock {
        &:before {
            content: "\f017";
            font-weight: $regular;
        }
    }
}
